<!doctype html>
<html ng-app="bridgeApp">
<head>
  <meta charset="utf-8">
  <title>Bridge - {% block title %}{% endblock %}</title>
  <script src="/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <style type="text/css">
  *{
    font-family: 'Roboto', sans-serif;
  }
  </style>
  {% block head %}

  {% endblock %}
</head>
<body ng-controller="ContainerCtrl">
{{test}}
 <ul>
    <li ng-repeat="c in containers">
      <p>[[c.Names]] [[c.Image]] [[c.Created*1000 | date : 'M/d/yy h:mm a']]</p>
    </li>
  </ul>

  <script type="text/javascript">

  var phonecatApp = angular.module('bridgeApp', [], function ($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
  });

  phonecatApp.controller('ContainerCtrl', function ($scope, $http) {
    $http.get('containers').success(function(data) {
      $scope.containers = data;
    });
  });

  </script>

</body>
</html>

